<link rel="stylesheet" href="styles/imports.css">
<link rel="stylesheet" href="styles/general-resets.css">
<link rel="stylesheet" href="styles/card.css">

<div class="card">
    <h3 class="card__title">Título do Evento</h3>
    <p class="card__text">Breve descrição do evento, pode ser um parágrafo pequeno</p>
    <button class="card__connect-button">Conectar</button>
</div>

<div class="card">
    <h3 class="card__title">Título do Evento</h3>
    <p class="card__text">Breve descrição do evento, pode ser um parágrafo pequeno</p>
    <button class="card__connect-button card__button--disabled">Conectar</button>
</div>